<footer class="footer style1 bg-image-2" style="background-image: url('/front/assets/img/background/bg-5.png');">
    <div class="footer-top">
        <div class="container">
            <div class="footer--inner">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5 mb-md-0">
                        <div class="footer-widget">
                            <div class="footer-nav">
                                <ul>
                                    <li class="menu-item"><a href="/front/home">HOME</a></li>
                                    <li class="menu-item"><a href="#our-store">STORE</a></li>
                                    <li class="menu-item"><a href="#category">CATEGORY</a></li>
                                    <li class="menu-item"><a href="#blog">BLOG</a></li>
                                    <li class="menu-item"><a href="#TESTIMONIAL">TESTIMONIAL</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 mb-5 mb-md-0 order-1 order-md-0">
                        <div class="footer-widget text-center">
                            <div class="logo mr-bottom-55">
                                <a href="index.html" class=""><img src="/front/assets/png/Royal_Dryfruit_1955-Logo.png" alt="logo"style="height:200px;"></a>
                            </div>

                            <h6 class="widget-title">our all BRANDS </h6>
                           <div class="d-flex w-25 text-center"> 
                    <img src="/front/assets/png/Goa_Kajuwalla_Logo_PNG.png"> 
                    <img src="/front/assets/png/4Health_Logo.png"> 
                    <img src="/front/assets/png/11Eleven_Logo.png"> 

                       

                           </div>

                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-inner">
                <div class="copyright">
                    <p><a href="https://themeforest.net/user/wpthemebooster">Royal</a> DRY FRUIT, All Rights Reserved</p>
                </div>
                <div class="social-box style-oval">
                    <ul>
                        <li><a href="https://www.facebook.com/" class="bi bi-facebook"></a></li>
                        <li><a href="https://www.instagram.com/" class="bi bi-instagram"></a></li>
                        <li><a href="https://www.linkedin.com/" class="bi bi-linkedin"></a></li>
                        <li><a href="https://www.behance.com/" class="bi bi-behance"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="totop">
    <a href="#"><i class="bi bi-chevron-up"></i></a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
  <!-- Include ScrollMagic -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <!-- Include Animation GSAP plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/animation.gsap.min.js"></script>
  <!-- Include Debug Indicator plugin (optional, for debugging) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>

<!-- Core JS -->
<script src="/front/assets/js/jquery-3.6.0.min.js"></script>

<!-- Framework -->
<script src="/front/assets/js/bootstrap.min.js"></script>

<!-- WOW Scroll Effect -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- Swiper Slider -->
<script src="/front/assets/plugins/swiper/swiper-bundle.min.js"></script>
<script src="/front/assets/plugins/swiper/swiper-gl.min.js"></script>

 <!-- Odometer Counter -->
 <script src="/front/assets/plugins/odometer/appear.js"></script>
 <script src="/front/assets/plugins/odometer/odometer.js"></script>

 <!-- Projects -->
 <script src="/front/assets/plugins/isotope/isotope.pkgd.min.js"></script>
 <script src="/front/assets/plugins/isotope/imagesloaded.pkgd.min.js"></script>
 <!-- <script src="../plugins/isotope/jquery.hoverdir.js"></script>-->
 <script src="/front/assets/plugins/isotope/tilt.jquery.js"></script>
 <script src="/front/assets/plugins/isotope/isotope-init.js"></script>

 <!-- Fancybox -->
 <script src="/front/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

 <!-- Flatpickr -->
 <script src="/front/assets/plugins/flatpickr/flatpickr.min.js"></script>

<!-- Nice Select -->
<script src="/front/assets/plugins/nice-select/jquery.nice-select.min.js"></script>



<!-- Cursor Effect -->
<script src="/front/assets/plugins/cursor-effect/cursor-effect.js"></script>

<!-- Theme Custom JS -->
<script src="/front/assets/js/theme.js"></script>
 <!-- Distortion Effect -->
        <!-- <script src="../plugins/modern-effects/three.min.js"></script> -->
        <script src="/front/assets/plugins/modern-effects/gsap.js"></script>
        <script src="/front/assets/plugins/modern-effects/ScrollTrigger.min.js"></script>
        <script src="/front/assets/plugins/modern-effects/hover-effect.umd.js"></script>
        <script src="/front/assets/plugins/modern-effects/gsap-custom.js"></script>
        <!-- ////////////////js2///////////////////////////// -->
        <!-- <script src="/front/assets/js2/plugin.min.js"></script> -->
        <!-- <script src="/front/assets/js2/three.min.js"></script>
        <script src="/front/assets/js2/vendors.min.js"></script>
        <script src="/front/assets/js2/slider-2.js"></script>
        <script src="/front/assets/js2/script0b84.js?fsfsdsdgsdgsdgsdg"></script>      -->

</body>

<!-- Mirrored from wpthemebooster.com/demo/themeforest/html/kimono/dark/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 09 May 2024 11:15:06 GMT -->
</html>